body{

  height: 950px;

.card1{
  display: flex;
  justify-content: center;

  div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3vh;
    width: 70vw;
    height: 100px;

    button{
      height: 50px;
      width: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -21px;

      mat-spinner{
        scale: 0.28;
        margin-top: 10px;

      }
    }
  }
}

.cards{
  display: flex;
  justify-content: space-evenly;



  mat-card{
    background-color: white;
    color: black;
  }

  #media{
    width: 300px;
    height: 130px;
    margin-bottom: 50px;
    padding: 5px 0px 0px 15px;

    h2{
      font-weight: bolder;
    }

    mat-card-content{
      display: flex;
      justify-content: center;
      margin-top: -20px;

      mat-spinner{
        scale: 0.5;
      }

      div {
        strong{
          font-size: 4em;
          display: flex;
          justify-content: center;
          margin-top: 50px;
        }
      }

      h3{
        margin-top: 25px;
        text-align: center;
        font-size: 2em;
      }
    }
  }

  #pf{
    width: 300px;
    height: 130px;
    margin-bottom: 50px;
    padding: 5px 0px 0px 15px;

    h2{
      font-weight: bolder;
    }

    mat-card-content{
      display: flex;
      justify-content: center;
      margin-top: -20px;

      mat-spinner{
        scale: 0.5;

      }
    }
  }
}

.lines{
  height: 74vh;
  margin-top: -40px;

    h1{
      font-size: 3em;
      text-align: center;
      margin-top: 20px;
    }
}
}
