<body>
  <div class="card1">

  </div>

  <div class="cards">
    <mat-card id="media">
      <h2>Média de gasto</h2>
      <mat-card-content>
        <mat-spinner *ngIf="stateValuesConsumptions"></mat-spinner>
        <h3 *ngIf="!stateValuesConsumptions">{{typeConsumption == 'Dinheiro - R$' ? types.money.type : types.energy.type}} : {{avearag | decimalCut }}</h3>
      </mat-card-content>
    </mat-card>

    <mat-card id="media">
      <h2>Maior gasto do dia</h2>

      <mat-card-content>
        <mat-spinner *ngIf="stateValuesConsumptions"></mat-spinner>
        <h3 *ngIf="!stateValuesConsumptions">{{typeConsumption == 'Dinheiro - R$' ? types.money.type : types.energy.type}} : {{max | decimalCut}}</h3>
      </mat-card-content>
    </mat-card>

    <mat-card id="pf">
      <h2>Previsão para póximo mês</h2>
      <mat-card-content>
        <mat-spinner *ngIf="stateValuesConsumptions"></mat-spinner>
      </mat-card-content>
    </mat-card>

    <mat-card id="pf">
      <h2>Consumo Total</h2>
      <mat-card-content>
        <mat-spinner *ngIf="stateValuesConsumptions"></mat-spinner>
      </mat-card-content>
    </mat-card>

  </div>

  <mat-card class="lines">
    <h1>Consumo Diário </h1>
    <canvas #canva style="position: relative; width: 90vw; height:65vh"></canvas>
  </mat-card>

</body>
