body {
    height: 950px;

  .lines{
    background-color: var(--body-card);

    h1{
      font-size: 3em;
      text-align: center;
      margin-top: 20px;
      color: var(--body-text);
    }
  }
}
