<mat-card>
    <mat-card-header>
        <h1 style="color: white;">ALTERAR DADOS</h1>
    </mat-card-header>

    <mat-card-content>
        <div class="form">
            <form [formGroup]="form" (ngSubmit)="register()" >
              <div id="login">
                <mat-form-field aria-disabled="true" appearance="fill">
                  <mat-label>Digite seu Nome</mat-label>
                  <input formControlName="name" matInput>
                  <mat-icon matSuffix>person</mat-icon>
                  <mat-error *ngIf="form.invalid">{{getFormsErros('email')}}</mat-error>
                </mat-form-field>
              </div>
              <div id="login">
                <mat-form-field appearance="fill">
                  <mat-label>Digite seu Email</mat-label>
                  <input formControlName="email" matInput placeholder="exemplo@email.com">
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="form.invalid">{{getFormsErros('name')}}</mat-error>
                </mat-form-field>
              </div>
              <div id="password">
                <mat-form-field appearance="fill">
                  <mat-label>Nova Senha</mat-label>
                  <input formControlName="password" matInput [type]="password">
                  <mat-icon (click)="password === 'password'? password = 'text': password = 'password' " matSuffix>password</mat-icon>
                  <mat-error *ngIf="form.invalid">{{getFormsErros('password')}}</mat-error>
                </mat-form-field>
              </div>
              <div id="button">
                <button [disabled]="form.invalid" mat-raised-button type="submit" >Atualizar</button>
              </div>
            </form>
          </div>
    </mat-card-content>
</mat-card>