.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-drawer {
    width: 4.5vw;
    background-color: #3f51b5;
    display: flex;
    justify-content: center;
    align-items: center;
    
    mat-list-item{
      cursor: pointer;
      
      mat-icon{
        color: white;
        scale: 2;
      }
    }
    mat-list-item:hover{
      background-color: rgba(255, 255, 255, 0.253);
    }
  }

  mat-drawer-content{
    padding: 20px;
    background-color: rgb(70, 70, 70);
    
    mat-icon{
      scale: 2.5;
      color: white;
    }
    mat-icon:hover{
      cursor: pointer;
    }
  }
}
