.card1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
  width: 50%;
}

.lines{
  width: 100%;

  mat-card-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    h1{
      font-size: 4em;
    }
    img{
      display: flex;
      align-items: center;
      margin-left:  10px;
    }
  }

  mat-card-content{
    height: 65vh;
    width: 93%;
  }
}