<body>
  <div class="card2">
    <mat-card class="mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>Card1</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>Card 2</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>Card 3</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>


  </div>

  <div class="card1">
    <mat-card id="card4" class="mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>Card 4</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>

    <mat-card id="card5" class="mat-elevation-z6">
      <mat-card-header>
        <mat-card-title>Card 5</mat-card-title>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>

  </div>




</body>
