.card1{

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
  width: 100%;

 #card4{
  width: 55%;
  height: 100%;
 }

 #card5{
  width: 35%;
  height: 100%;
 }
}

.card2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;

  mat-card{
    width: 25%;
    height: 20vh;
  }
}

