<body>
  <div class="card1">
    <mat-form-field  appearance="fill">
      <mat-label>Data do consumo</mat-label>
      <input (dateInput)="dateSelect($event)" [value]="date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker  #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo de consumo</mat-label>
      <mat-select (valueChange)="typeSelect($event)" [value]="types[1].description">
        <mat-option *ngFor="let type of types" [value]="type.description">
          {{type.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <mat-card class="lines">
    <mat-card-header>
      <h1>Consumo por hora</h1> <img width="85px" src="../../../../assets/gastos.png" alt="">
    </mat-card-header>
    <mat-card-content>
      <app-consumption-lines></app-consumption-lines>
    </mat-card-content>
  </mat-card>

</body>
