/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --body: #3f51b52c;
  --text-body: black;
  --body-card: #fff;
  --body-text: black;
  --primary: #3f51b5;
  --text-primary: #151F29;
}

:root .dark-theme {
  --body: #151F29;
  --text-body: #E2ECF7;
  --body-card: #2B2F3B;
  --body-text: #E2ECF7;
  --primary: #2B2F3B;
  --text-primary: #E2ECF7;
}
